
@keyframes float {
  0% {top: 0}
  25% {top: 25px}
  75% {top: -25px}
  100% {top: 0}
}

@keyframes explode {
  0% {
    transform: rotate(0) scale(0);
  }
  90% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(360deg) scale(1);    
  }
}

.main {
  margin-top: 3em;
}

h1, p {
  white-space: nowrap; 
}

.emoji {
  animation: float linear infinite 2s;
  position: relative;
  height: 175px;
  width: 175px;
}

.em-collision {
  opacity: 0;
  position: absolute;
  font-size: 100;
  animation: explode linear 1s forwards; 
} 

.col-6 {
  text-align: center;
}

.face {
  height: 40vh;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
}

