

.logo-text {
  font-family: 'Luckiest Guy', cursive;  
}

.right-head {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.main {
  margin-top: 3em;
}

.emoji {
  animation: float linear infinite 2s;
  position: relative;
  height: 175px;
  width: 175px;
  z-index: 100;
}

.emoji svg {
  height: 100%;
}

.flair {
  width: 100;
  height: 100;
  opacity: 0;
  position: absolute;
  font-size: 100;
  z-index: 50;
}

.boom {
  animation: explode linear 2s forwards; 
} 

.sparkles {
  animation: explode linear 1s forwards infinite; 
} 

.spacer-v {
  height: 50px;
}

.col-6 {
  text-align: center;
}

.face {
  margin: auto;
  height: 350px;
  display: flex;
  padding: 15px;
  margin-top: 25px;
  white-space: nowrap;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  background: #f7f7f7;
  border: 1px solid #ddd;
  position: relative;
}

.editor-view {
  width: 100%;
  border: 1px solid #ddd;
  height: 300px;
  margin: 15px 0;
  overflow: hidden;
  border-radius: 15px;
}

.editor-view > * {
  animation: scroll linear forwards infinite;
}

.editor-view[data="small"] > * {
  animation-duration: 0s;
}

.editor-view[data="big"] > * {
  animation-duration: 20s;
}

.editor-view button {
  display: none;
}

.editor-view .CodeMirror-scroll {
  height: initial;
}

.editor-view .CodeMirror {
  padding: 0;
}

.scene {
  margin: auto;
  height: 250px;
  max-width: 900px;
  position: relative;
}

.mono-text input {
  width: 350px;
  margin: auto;
}

.scene .emoji {
  top: 70px;
  animation-name: shuffle1;
}

.scene .right-head .emoji {
  animation-name: shuffle2;
}

.mono-text {
  font-family: 'Inconsolata', monospace;  
}

.floater {
  position: absolute;
  font-weight: bolder;
  font-family: monospace;
  animation: rise-out linear 1s forwards; 
}

.shadow {
  filter: blur(5px);
}

.noshadow {
  transition-duration: 1000ms;
}

.full-width {
  width: 100%;
}
